# SPDX-FileCopyrightText: Contributors to the Fedora Project
#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=fmn-api
After=network-online.target
Wants=network-online.target

[Service]
AmbientCapabilities = CAP_NET_BIND_SERVICE
User=vagrant
Environment=GSS_USE_PROXY=yes
Environment=REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt
Environment=W2FM_CONFIG=/home/vagrant/config.py
Environment=PYTHONUNBUFFERED=1
Environment=FLASK_DEBUG=1
Environment=FLASK_APP=webhook_to_fedora_messaging.main
WorkingDirectory=/home/vagrant/webhook-to-fedora-messaging
ExecStart=poetry run flask run --reload -p 443 -h "0.0.0.0" --cert=/etc/pki/tls/certs/server.pem --key=/etc/pki/tls/private/server.key

[Install]
WantedBy=multi-user.target
